{% extends "@RavuAlHemioSharpIrcBotWeb/base.html.twig" %}

{% block title %}Top Quotes{% endblock %}

{% block body %}
    <table class="top-quotes">
    {% for quote in topQuotes %}
        <tr>
            <td aria-label="score" class="score {% if quote.scoreChanged %}changed{% else %}unchanged{% endif %}">{{ quote.score|e }}</td>
            <td aria-label="body" class="quote-body">{{ quote.body|e }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
