{% extends "@RavuAlHemioSharpIrcBotWeb/base.html.twig" %}

{% block title %}Counters{% endblock %}

{% block body %}
    {% for counter in counters %}
        <section class="counter">
            <h2>!{{ counter.command|e }}</h2>
            <p class="count">Count: <span class="counter-value">{{ counter.count }}</span></p>
            <p class="latest-entries-header">Latest entries:</p>
            <table class="latest-entries">
                {% for entry in counter.recentEntries %}
                <tr>
                    <td aria-label="entry" class="entry"><pre>&lt;{{ entry.perpNick|e }}&gt; {{ entry.message|e }}</pre></td>
                </tr>
                {% endfor %}
            </table>
        </section>
    {% endfor %}
{% endblock %}
